/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'Raleway-Bold';
  src: url(./styles/fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./styles/fonts/Roboto-Regular.ttf) format('truetype');
}

html {
  font-size: 10px;
  font-family: 'Roboto-Regular', serif;
}

h1, h2 {
  font-family: 'Raleway-Bold', sans-serif;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

section > h2 + p {
  text-indent: 20px;
}

a {
  transition: 0.2s;
  outline: none;
}

a:link, a:visited{
  color: #a66;
}

a:focus, a:hover {
  text-decoration: none;
  /* color: #e00 */
}

a:active {
  text-shadow: 1px 1px 3px #c22;
}

a[href*="http"] {
  padding-right: 2rem;
  background: url(./styles/icons/external-link-52.png) no-repeat 100% 0;
  background-size: 1.6rem 1.6rem;
}